*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(113, 208, 249);
    padding: 10px;
}

.header-box{
    width: 800px;
    margin: auto;
    display: flex;
}

.logo, .link, .login{
    background-color:gold;
    border: 1px dashed black;
    padding: 5px;
    line-height: middle;
}

.logo{
    flex-grow: 1;
}

.link{
    flex-grow: 3;
    text-align: center; 
}

a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

.login{
    flex-grow: 1;
    text-align: end;
}


.box-blu{
    background-color: rgb(1, 1, 205);
    padding: 20px;
}

.box-blu > .box-rosa{
    width: 600px;
    height: 200px;
    background-color: rgb(249, 88, 201);
    margin: auto;
    border: 1px dashed black;
}

.subsection2{
    padding: 20px;
}

.subsection2 > .box{
    width: 700px;
    height: 200px;
    margin: auto;
    display: flex;
}


