*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(113, 208, 249);
    padding: 10px;
}

.header-box{
    width: 800px;
    margin: auto;
    display: flex;
}

.logo, .link, .login{
    background-color:gold;
    border: 1px dashed black;
    padding: 5px;
    line-height: middle;
}

.logo{
    flex-grow: 1;
}

.link{
    flex-grow: 3;
    text-align: center; 
}

a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

.login{
    flex-grow: 1;
    text-align: end;
}



